@import './variables.less';

@font-size-s: 12px; //小号
@font-size-m: 14px; //正常，默认使用
@font-size-l: 16px; //大号
@font-size-xl: 18px; //特大号
@font-size-xxl: 20px; //特特大号
@font-size-xxxl: 22px; //特特特大号
@font-size-xxxxl: 24px; //特特特大号
@font-weight-normal: 400; //正常
@font-weight-bold: 600; //加粗
/* --------Base-------- */

.fz12 {
  font-size: @font-size-s!important;
}

.fz14 {
  font-size: @font-size-m!important;
}

.fz16 {
  font-size: @font-size-l!important;
}

.fz18 {
  font-size: @font-size-xl!important;
}

.fz20 {
  font-size: @font-size-xxl!important;
}

.fz22 {
  font-size: @font-size-xxxl!important;
}

.fz24 {
  font-size: @font-size-xxxxl!important;
}

body {
  background: #f5f5f5;
}

textarea {
  resize: none;
}

:focus {
  outline: 0;
}


.clearfix {
  &:after {
    display: block;
    height: 0;
    clear: both;
    content: '\20';
  }
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.vat {
  vertical-align: top;
}


.mt5 {
  margin-top: 10rpx;
}

.mr5 {
  margin-right: 10rpx;
}

.mb5 {
  margin-bottom: 10rpx;
}

.ml5 {
  margin-left: 10rpx;
}

.mt10 {
  margin-top: 20rpx;
}

.mr10 {
  margin-right: 20rpx;
}

.mb10 {
  margin-bottom: 20rpx;
}

.ml10 {
  margin-left: 20rpx;
}

.mt15 {
  margin-top: 30rpx;
}

.mr15 {
  margin-right: 30rpx;
}

.mb15 {
  margin-bottom: 30rpx;
}

.ml15 {
  margin-left: 30rpx;
}

.mt20 {
  margin-top: 40rpx;
}

.mr20 {
  margin-right: 40rpx;
}

.mb20 {
  margin-bottom: 40rpx;
}

.ml20 {
  margin-left: 40rpx;
}

.mt30 {
  margin-top: 60rpx;
}

.mr30 {
  margin-right: 60rpx;
}

.mb30 {
  margin-bottom: 60rpx;
}

.ml30 {
  margin-left: 60rpx;
}

.pt5 {
  padding-top: 10rpx;
}

.pr5 {
  padding-right: 10rpx;
}

.pb5 {
  padding-bottom: 10rpx;
}

.pl5 {
  padding-left: 10rpx;
}

.pt10 {
  padding-top: 20rpx;
}

.pr10 {
  padding-right: 20rpx;
}

.pb10 {
  padding-bottom: 20rpx;
}

.pl10 {
  padding-left: 20rpx;
}

.pt15 {
  padding-top: 30rpx;
}

.pr15 {
  padding-right: 30rpx;
}

.pb15 {
  padding-bottom: 30rpx;
}

.pl15 {
  padding-left: 30rpx;
}

.pt20 {
  padding-top: 40rpx;
}

.pr20 {
  padding-right: 40rpx;
}

.pb20 {
  padding-bottom: 40rpx;
}

.pl20 {
  padding-left: 40rpx;
}

.pt30 {
  padding-top: 60rpx;
}

.pr30 {
  padding-right: 60rpx;
}

.pb30 {
  padding-bottom: 60rpx;
}

.pl30 {
  padding-left: 60rpx;
}

.wbba() {
  word-break: break-all;
  word-wrap: break-word;
}

.white-box {
  background: #fff;
  box-shadow: 0 2rpx 2rpx rgba(0, 0, 0, 0.05);
}

.bottom-line {
  border-bottom: 2rpx solid @color-bb;
}

.mrla {
  margin-left: auto;
  margin-right: auto;
}



 
